/**
Main CSS of Explore Project 
*/

body{background: rgb(192,222,237);}

#head-menu-right{float: right;}

.front-welcome{
	width: 850px;margin:0 auto;margin-top: 55px;}

.hero-title{
	float: left;
	width: 420px;
	margin-right: 80px;
	text-align: center;
	margin-top: 100px;
}

.hero-join{
	float: left;width: 300px;margin-top: 30px;}

.hero-site{
	font-weight: 100;
	margin: 0px;
	color: #1F8DD6;
	font-size: 5em;
}

.hero-site a:hover{text-decoration: none;}

.hero-tagline {
    font-size: 250%;
    font-weight: 100;
    line-height: 1.5;
    margin: 0px 0px 1em;
    color: #666;
}

#heading-color{background: #FFFFFF;}

.help-block-personal,.setting-help-block{color:rgb(115,115,163);}

html, body, #wrap {height: 50%;}

body > #wrap {
	height: 100px; 
	min-height: 100px;
}

#main {padding-bottom: 100px;}

.foot{
	position: relative; 
	margin-top: -100px;
	height: 100px;
	clear:both;
	width: 100%;
	height: 100px;
	border-top: 2px solid rgb(229,229,229);
}

.foot ul{
	text-align: center;list-style: none;
	padding-top: 20px;
}

.user-card{
	width: 1000px;margin:0 auto;margin-top: 60px;}

.left-info,.explore-left{
	float: left;width: 670px;}

.right-info,.explore-right{
	float: right;width: 320px;margin-bottom: 50px;}

.user-background{
	height: 95px;
	border-bottom: 1px solid rgb(225,237,242);
	background: #FFFFFF;
}

.profile-content{
	width: 320px;
	height: 155px;
	background: #FFFFFF;
}

.user-photo{
	float: left;
	margin-left: 10px;
	margin-top: -25px;
	position: relative;
}

.basic-profile{
	float: left;margin-left: 10px;}

.basic-profile a,.detail-state-lable span a{
	text-decoration: none;color: #000000;}

.basic-profile span a{color: rgb(185,168,169);}

.basic-profile a:hover,.detail-state-lable span a:hover,.full-name a:hover{
	color: rgb(42,100,150);
	text-decoration: underline;
	cursor:pointer;
}

.basic-profile span{line-height: 1px;}

.statelable{
	float: left;
	width: 300px;
	margin-left: 10px;
	margin-top: 20px;
	text-align: center;
}

.detail-state-lable{
	float: left;
	width: 90px;
	margin-right: 10px;
	overflow: hidden;
}

.detail-state-lable:hover,.main-card:hover,.notification-main-card:hover
{background: rgb(245,248,240);}

.content-head-card{
	border-bottom: 1px solid rgb(191,224,236);
	height: 50px;
	padding-left: 10px;
	line-height: 2px;
	margin-top: -20px;
	background: #FFFFFF;
}

.content-head-card h3{padding-top: 15px;}

.main-card{
	background: #FFFFFF;
	margin-bottom: 10px;
	width: 670px;
	height: 200px;
}

.main-card-photo{
	float: left;
	padding-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

.main-card-detail-info{
	float: left;height: 150px;width: 570px;}

.full-name{
	margin-top: 15px;font-size: 18px;}

.full-name a{color: #000000;}

.user-blog-text{
	overflow: hidden;height: 115px;width: 480px;}

.user-blog-text-plus-img{
	float: right;margin-top: -110px;}

.at-account{color: rgb(96,96,96);font-size: 14px;}

.main-card-footer{padding-top: 170px;}

.main-card-footer ul{list-style: none;}

.main-card-footer li{
	float: right;margin-right: 10px;}

.main-card-footer span{
	color: #8899A6;font-size: 14px;}

.main-card-extension{
	float: left;
	margin-left: -25px;
}

.right-hot-info{
	margin-top: 10px;background: #FFFFFF;}

.hot-info-heading{
	border-bottom: 1px solid rgb(191,224,236);
	padding-top: 12px;
	height: 50px;
}

.hot-info-heading span{
	font-size: 20px;margin-left: 10px;}

.right-hot-info ul{
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px;
}

.notification-menu-first{border-bottom: 1px solid rgb(225,232,237);}

.notification-menu-first,.notification-menu-second{
	background: #FFFFFF;
	height: 50px;
	width:290px;
	font-size: 20px;
	padding-left: 10px;
	padding-top: 12px;
}

.notification-menu-first:hover,.notification-menu-second:hover{
	background:rgb(245,248,240);
	cursor: pointer;
}

.notification-main-card{
	background: #FFFFFF;
	width: 670px;
	margin-bottom: 5px;
	height: 110px;
	overflow: hidden;
}

.people-user-background-detail,.people-user-lib{
	margin: 0 auto;
	width: 740px;
	height: 315px;
	background: #FFFFFF;
	margin-top:60px;
}

.people-user-heading{
	width: 740px;height: 265px;
	border-bottom: 1px solid rgb(225,232,237);
}

.people-user-heading-left{
	float: left;
	width: 260px;
	height: 100%;
	font-size: 12px;
	text-align: center;
	
}

.people-user-heading-right{
	float: left;width: 480px;height: 100%;}

.people-user-heading-left-detail{
	margin: 0 auto;
	padding:15px 15px 30px;
	width: 230px;
	margin-top: -265px;
}

.people-user-detail{color: #FFFFFF;}

.people-user-name{
	font-size: 20px;padding-top: 20px;}

.people-user-description,.people-user-accessed-record{
	padding-top: 20px;text-align: center;}

.user-nav-pills{
	text-decoration: none;
	font-size: 16px;
	margin-top: 15px;
	margin-left: 30%;
	list-style: none;
}

.user-nav-pills li{
	color: #737373;float: left;margin-right: 20px;}

.user-nav-pills li:hover{
	border-bottom: 2px solid rgb(118,167,250);}

.people-user-footer a{text-decoration: none;color:#737373;}

/***********************userlib*************************/

.people-user-lib{
	margin-top:30px;
	background: rgb(192,222,237);
}

.people-lib-left,.people-lib-right{
	float: left;
	margin-right: 20px;
}

.people-lib-right{margin-right: 0px;}

.people-lib-main-card{
	border-top: 6px solid rgb(118,167,250);
	padding: 15px;
	width: 360px;
	background: #FFFFFF;
	margin-bottom: 20px;
}

.lib-card-heading{
	border-bottom: 1px solid rgb(218,218,218);font-weight: bold;}

.lib-card-heading-right{float: right;}

.lib-card-content ul{
	padding-top: 15px;
	list-style: none;
	padding-left: 0px;
}

.lib-card-content li{
	color: rgb(102,102,102);
	margin-bottom: 5px;
}

.lib-card-content span{color: rgb(198,198,198);}

.location-accessed li{display: inline;}


/*************userlib-twitter***************/

.people-lib-main-card-twitter-heading{
	border-bottom: 1px solid rgb(218,218,218);
	height: 60px;
}

.people-lib-twitter-detail-name{
	margin-left: 60px;
	font-weight: bold;
	font-size: 16px;
	margin-top: -45px;
}

.people-lib-twitter-detail-name a{
	text-decoration: none;color: #000000;}

.lib-twitter-detail-name-right{
	float: right;
	font-weight:normal;
}

.lib-twitter-detail-name-right span{color: rgb(191,191,191);}

.lib-twitter-detail-name-right span:hover{cursor: pointer;}

.people-lib-twitter-detail-time-type{
	margin-left: 60px;
	color: rgb(191,191,191);
}

.people-lib-card-twiiter-type:hover{color: rgb(66,127,237);cursor: pointer;}

.people-lib-main-card-twitter-content{
	padding-top: 15px;
	margin-bottom: 15px;
}

.people-lib-twitter-footer-right{float: right;}

.people-lib-send-msg-menu{
	list-style: none;
	font-size: 20px;
	padding-top: 15px;
	padding-left: 0;
	color: rgb(162,162,162);
	margin-left: 2px;
	margin-bottom: 20px;
}

.people-lib-send-msg-menu li:hover{
	color: rgb(100,100,100);cursor: pointer;}

.people-lib-send-msg-menu li{
	float:left;margin-right: 35px;}

.people-lib-send-msg-button{float: right;margin-top: -25px;}

.lib-send-msg-button-left{
	margin-right: 5px;
	color: rgb(118,167,250);
}

.lib-send-msg-button-left:hover{
	text-decoration: underline;cursor: pointer;}

.comment-input-enabled{
	padding-top: 15px;
	visibility: hidden;
	display: none;/*block*/
}
/*************userlib-twitter***************/

/***********************userlib*************************/

/***********************setting*************************/

.user-setting-left{margin-right: 20px;}

.user-setting-right,.user-setting-left{
	float: left;width: 400px; }

/**************setting-photo****************/

.setting-user-card{
	float: left;
	width: 400px;
	background: #FFFFFF;
	margin-right: 20px;
	margin-bottom: 20px;
	border-top: 6px solid rgb(118,167,250);
}

.setting-face,.setting-background,.setting-profile,.setting-email,.setting-password,.setting-notification
	{padding: 15px;}

.setting-face-background-title{margin-right: 5px;}

.setting-change-ptoto{padding:15px;}

.setting-change-ptoto img{margin-right: 20px;}

.setting-help-block{margin-left: 20px;}

/**************setting-photo****************/

/*************setting-profile***************/

.setting-profile{margin: 0 auto;}

.lib-card-heading{margin-bottom: 10px;}

.setting-card-footer{margin-top: 10px;}

/*************setting-profile***************/

/**************setting-email****************/

.setting-card-footer-email{
	margin-top: -35px;float: right;}

/**************setting-email****************/

/*************setting-password**************/

.setting-card-footer-password{
	margin-top: -45px;float: right;}

/*************setting-password**************/

/************setting-notification***********/

.setting-notification-checkbox{margin-left: 20px;}

.setting-card-footer-notification{
	float: right;
	margin-top: -40px;
}

/************setting-notification***********/

.setting-card-user-mid{
	float: left;
	width: 160px;
	background:#FFFFFF;
	margin-left: 20px;
	border-top: 6px solid rgb(118,167,250);
	padding: 15px;
}

.lib-card-heading a{
	text-decoration: none;color:#000000;}

.lib-card-heading a:hover{color:rgb(102,102,102);}

.setting-card-user-welcome-content ul{
	list-style: none;margin-left: -40px;}

.setting-card-user-welcome-content li{
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(238,238,238);
	color: rgb(102,102,102);
}

.setting-card-user-welcome-content a{
	text-decoration: none;color: rgb(102,102,102);}

.setting-card-user-welcome-content li:hover{
	background:rgb(245,248,240);cursor: pointer;}

/***********************setting*************************/

/***********************explore*************************/

.refresh-column{
	width: 100%;
	height: 30px;
	background:rgb(245,248,240);
	text-align: center;
	padding-top: 5px;
	margin-bottom: 10px;
}

/************************left*******************/

.refresh-column:hover{
	background:rgb(217,237,247);cursor: pointer; }

/************************left*******************/

/************************right*******************/

.explore-right-hot-topic{
	background: #FFFFFF;
	padding: 15px;
	margin-bottom: 10px;
}

.more-topic{
	float: right;font-weight: normal;}

.more-topic a{
	text-decoration: none;color: rgb(153,153,153);}


/************************right*******************/

/***********************explore*************************/

/**********************hot-area*************************/

.hotarea-card{
	margin: 0 auto;
	width: 740px;
	margin-top:60px;
}

.hotarea-left{margin-right: 20px;}

.hotarea-right,.hotarea-left{
	float: left;
	width: 360px;
	background: #FFFFFF;
	padding: 15px;
	margin-bottom: 20px;
}

/*****************hotarea-card-main**************/

.hotarea-card-main-heading{height: 50px;}

.hotarea-card-main-heading-editor li{color: rgb(153,153,153);}

.hotarea-card-main-heading-editor ul li a{
	text-decoration: none;color: rgb(153,153,153);}

.hotarea-card-main-heading-editor ul li a:hover{
	cursor: pointer;text-decoration: underline;}

.hotarea-card-main-heading-editor ul a{
	text-decoration: none;color: #000000;}

.hotarea-card-main-heading-editor ul a:hover{text-decoration: underline;}

.hotarea-card-main-heading-editor ul{
	margin-left: 20px;
	margin-top: -42px;
	list-style: none;
}

.hotarea-card-text{
	margin-top: 15px;margin-bottom: 15px;}

.hotarea-card-img a img:hover{
	-webkit-box-shadow: #666 0px 0px 5px;
	-moz-box-shadow: #666 0px 0px 5px;
	box-shadow: #666 0px 0px 5px;
}

.hotarea-card-main-footer{
	margin-top: 15px;
	background: rgb(245,245,245);
	margin-left: -15px;
	width: 360px;
	margin-bottom: -18px;
	padding: 15px;
}

.hotarea-comment{margin-top: 15px;margin-bottom: 29px;}

/*****************hotarea-card-main**************/

/**********************hot-area*************************/