body{background: rgb(192,222,237);}

#head-menu-right{float: right;}

.front-welcome{
	width: 850px;
	margin:0 auto;
	margin-top: 55px;
}

.hero-title{
	float: left;
	width: 420px;
	margin-right: 80px;
	text-align: center;
	margin-top: 100px;
}

.hero-join{
	float: left;
	width: 300px;
	margin-top: 30px;
}

.hero-site{
	font-weight: 100;
	margin: 0px;
	color: #1F8DD6;
	font-size: 5em;
}

hero-site a:hover{text-decoration: none;}

.hero-tagline {
    font-size: 250%;
    font-weight: 100;
    line-height: 1.5;
    margin: 0px 0px 1em;
    color: #666;
}

.foot{
	width: 100%;
	height: 100px;
	border-top: 2px solid rgb(229,229,229);
}

#heading-color{background: #FFFFFF;}

.help-block-personal{color:rgb(115,115,163);}

html, body, #wrap {height: 50%;}

body > #wrap {
	height: auto; 
	min-height: 50%;
}

#main {padding-bottom: 100px;}

.foot {
	position: relative; 
	margin-top: -100px;
	height: 100px;
	clear:both;
}

.foot ul{
	text-align: center;
	list-style: none;
	padding-top: 20px;
}

.user-card{
	width: 1000px;
	margin:0 auto;
	margin-top: 60px;
}

.left-info{
	float: left;
	width: 670px;
	height: 300px;
	
}

.right-info{
	float: right;
	width: 320px;
	margin-bottom: 20px;
}

.user-background{
	height: 95px;
	border-bottom: 1px solid rgb(225,237,242);
	background: #FFFFFF;
}

.profile-content{
	width: 320px;
	height: 155px;
	background: #FFFFFF;
}

.user-photo{
	float: left;
	margin-left: 10px;
	margin-top: -25px;
	position: relative;
}

.basic-profile{
	float: left;
	margin-left: 10px;
}

.basic-profile a,.detail-state-lable span a{
	text-decoration: none;
	color: #000000;
}

.basic-profile span a{color: rgb(185,168,169);}

.basic-profile a:hover,.detail-state-lable span a:hover,.full-name a:hover{
	color: rgb(42,100,150);
	text-decoration: underline;
	cursor:pointer;
}

.basic-profile span{line-height: 1px;}

.statelable{
	float: left;
	width: 300px;
	margin-left: 10px;
	margin-top: 15px;
	text-align: center;
	border-bottom: 1px solid rgb(191,224,236);
}

.detail-state-lable{
	float: left;
	width: 90px;
}

.detail-state-lable:hover,.main-card:hover,.notification-main-card:hover
{background: rgb(245,248,240);}

.content-head-card{
	border-bottom: 1px solid rgb(191,224,236);
	height: 50px;
	padding-left: 10px;
	line-height: 2px;
	margin-top: -20px;
	background: #FFFFFF;
}

.content-head-card h3{padding-top: 15px;}

.main-card{
	background: #FFFFFF;
	margin-bottom: 5px;
	width: 670px;
	height: 200px;
}

.main-card-photo{
	float: left;
	padding-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

.main-card-detail-info{
	float: left;
	height: 150px;
	width: 570px;
}

.full-name{
	margin-top: 15px;
	font-size: 18px;
}

.full-name a{color: #000000;}

.user-blog-text{
	overflow: hidden;
	height: 115px;
}

.at-account{color: rgb(96,96,96);font-size: 14px;}

.main-card-footer{padding-top: 170px;}

.main-card-footer ul{list-style: none;}

.main-card-footer li{
	float: right;
	margin-right: 10px;
}

.main-card-footer span{
	color: #8899A6;
	font-size: 14px;
}

.main-card-extension{
	float: left;
	margin-left: -25px;
}

.right-hot-info{
	margin-top: 5px;
	background: #FFFFFF;
	height: 200px;
}

.hot-info-heading{
	border-bottom: 1px solid rgb(191,224,236);
	padding-top: 5px;
	height: 30px;
}

.hot-info-heading span{
	font-size: 16px;
	margin-left: 10px;
}

.hot-info-text ul{list-style: none;}

.hot-info-text ul{
	padding-left: 10px;
	padding-top: 10px;
}

.notification-menu-first{border-bottom: 1px solid rgb(225,232,237);}

.notification-menu-first,.notification-menu-second{
	background: #FFFFFF;
	height: 40px;
	width:290px;
	font-size: 20px;
	padding-left: 10px;
	padding-top: 5px;
}

.notification-menu-first:hover,.notification-menu-second:hover{
	background:rgb(245,248,240);
	cursor: pointer;
}

.notification-main-card{
	background: #FFFFFF;
	width: 670px;
	margin-bottom: 5px;
	height: 110px;
	overflow: hidden;
}

.notification-main-card-footer{
	padding-top: 50px;
}